<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="non-content content">
        <p> there is no such file</p>
        <p>404</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>